@import "tailwindcss";

/* index.css */
body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    color:#0F172A
    /* font-family: "Merienda", cursive; */
    
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
    /* color:#454F5E */
    /* font-family: "Merienda", cursive; */
  }
  
  